<h1>Welcome <%= accountData.account_firstname %>!</h1>

<p>You are now logged in.</p>

<ul>
  <li><a href="/account/edit">Update Account Info</a></li>
  <% if (accountData.account_type === 'Admin') { %>
    <li><a href="/inv">Manage Inventory</a></li>
  <% } %>
</ul>

<section class="account-options">
  <h2>Account Options</h2>
  <ul>
    <li><a href="/messages">📨 Go to Messages</a></li>
    <!-- Puedes agregar más opciones aquí si quieres -->
  </ul>
</section>


<form action="/account/logout" method="post">
  <button type="submit">Logout</button>
</form>
