<h1>Login</h1>
<%- messages() %>

<form action="/account/login" method="post" class="form">
  <label for="email">Email</label>
  <input type="email" name="email" id="email" required>

  <label for="password">Password</label>
  <input type="password" name="password" id="password" required>

  <button type="submit">Login</button>
</form>

<p>No account? <a href="/account/register">Register here</a></p>
