<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 APP</p>
</footer>
<!-- The footer.ejs file is a partial that contains the footer content for the application. The footer includes a copyright notice that displays the current year. The copyright notice is created using the JavaScript Date object to get the current year. -->